<div class="container">
  <div class="left">
    <ul>
      <li *ngFor="let item of list"
          (click)="selectItem(item)"
      >{{item.name}}</li>
    </ul>
  </div>
  <div class="right">
    <master-details [pokemon]="selectedItem"></master-details>
  </div> 
</div>
