.container{
    display: flex;
    flex: row;
}
.right{
    border: 1px solid black;
    width: 70%;
    height: 100vh;
}
.left{
    height: 100vh;
    border: 1px solid black;
    width: 30%;
}